---
---

@import "{{ site.theme }}";

// Colors
$background-primary: #222;
$color-primary-dark: #ffffff;
$color-link-dark: #ee4444;

$color-primary-light: #000;
$color-link-light: #2a6496;

$color-highlight-all: #ee4444;
// End colors

.text-center {
    text-align: center;
    width: auto;
}

.primary-theme {
    color: $color-primary-dark;
    background: $background-primary;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    a, a:hover {
        color: $color-link-dark;
    }
}

header {
    .logo {
        margin-bottom: 0px !important;
        font-size: 20px;
    }   
}

footer {
    display: block;
    width:100%;
    left: 0;
    bottom: 0;
    .foot-left {
        float: left;
        width: auto;
        display: inline-block;
    }
    .foot-right {
        float: right;
        width: auto;
        display: inline-block;
    }
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

// Make the main content look decent

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
@media only screen and (min-width: 600px) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 990px) {
    .container {
        width: 70%;
    }
}
// Responsive stuff
.sidenav {
    @extend .primary-theme;
    height: 100% !important;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0; left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidenav .close {
    position: absolute; 
    top: 0; right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
// Alignment meta
.left { float: left; }
.right { float: right; }

.sidenav-trigger {
    @extend .right;
    display: none;
    cursor: pointer; 
    font-size: 30px;
}

.topnav {
    font-size: 20px;
    a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 522px) {
    .topnav {
        display: none;          
    }
    .sidenav-trigger {
        display: inline-block;
    }
    .sidenav {
        padding-top: 60px;
    }
}

@media screen and (max-width: 300px) {
    .foot-left {
        float: none !important;
        width: 100% !important;
    }
    .foot-right {
        margin-top: 10px; 
        float: none !important;
        width: 100% !important;
    }
}


